:root {
    --primaryColorOpaque: rgba(31, 82, 95, 0.658);
    --primaryColor: rgb(31, 82, 95);
    --softGrey: #d2d2d2;
    --darkishGrey: #b3b1b1;
    --darkerGrey: rgb(70, 69, 69);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#selfPicture {
    height: 350px;
    width: 350px;
    background-size: cover;
}

.portfolioEntry {
    height: 250px;
    width: 250px;
    margin: 2%;
}

label {
    color: black;
}

#contactHeader {
    text-align: center;
}
  
#portfolioHeader {
    text-align: center;
}

#portfolioRow1, #portfolioRow2 {
    margin-top: 3%;
    margin-bottom: 5%;
}

nav {
    top:0px;
    position: fixed;
    width:100%;
    height:50px;
    z-index:9999;
}

.headerText {
    width: 30%;
    background: var(--darkerGrey);
    color: whitesmoke;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    top: 60%;
    left: 35%;
    /* below included for parallax remedy */
    z-index: 0;
}

.emptySpace {
    height:100px;
}

#allContent {
    background-color: var(--primaryColor);
    /* below included for parallax remedy */
    z-index: 1;
}

.parallax {
    height: 100%;
    background-image: url("../media/pexels-photo-450035.jpeg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* below included for parallax remedy */
    z-index: -1;
}

#aboutMeSection {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: var(--softGrey);
}

#portfolioSection {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: var(--darkishGrey);
}

form {
    padding: 10% 2% 10% 2%;
    margin-left: 7.7%;
    margin-right: 7.7%;
    background-color: var(--softGrey);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 0.5px;

}

footer {
    background-color: rgb(34, 34, 34);
}

.card, #selfPicture {
    box-shadow: 5px 5px 8px var(--primaryColorOpaque);
}

/* this has added a slight "whitespace" on the right of images -- UNRESOLVED*/
.card-img-top {
    width: 250px;
    height: 250px;
    background-position: center;
}

.titleText {
    font-family: 'Dosis', sans-serif;
}


/* phone media queries go here */

@media only screen and (min-width:813px) {

    .portfolioEntry {
        box-shadow: 5px 5px 8px var(--primaryColorOpaque);
    }

    nav {
        display: none;
    }
}